@model PimWeb.Models.FileViewModel

@{
    ViewBag.Title = Model.Title ?? "Unsaved";
    ViewBag.ShowPageCaption = true;
    
    var edit = ViewBag.Edit == true;
    var altModeLinkText = edit ? "View read only" : "Edit";
}



@Html.Partial("ViewEditPartial", Model)

<div>
    @Html.ActionLink("Back to home page", "Index", "Home")
    
    @if (Model.Version.HasValue)
    {
        @: |
        <a href="@Url.Action("Index", new {id = Model.Id, edit = !edit})">@altModeLinkText</a>
    }
</div>

<script>
@section Init
{
    const config = {
        mainFormSelector: '#mainForm',
        updateNoteUrl: '@Url.Action("Update")',
        createNoteButtonSelector: '#btnSubmit',
        newNoteTextSelector: '#@Html.IdFor(m => m.NoteText)',
        deleteNoteSelector: '#btnDelete',
        updateNoteButtonSelector: '#btnUpdate',
        divInProgressSelector: '#progressIndicator',
    };

    (pim.pages.viewEdit)
    &&
    (pim.pages.viewEdit.init(config));
}
</script>
