@model PimWeb.Models.NoteViewModel

@using (Html.BeginForm("Update", "ViewEdit", FormMethod.Post, new { id = "mainForm", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(x => x.Version)

    if (Model.NoteDeleted)
    {
        <h2>
            Note does not exist
        </h2>
    }
    else
    {
        <h2>
            @(Model.Caption)
        </h2>
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   
        <div class="form-group">
            @Html.HiddenFor(model => model.NoteId)
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.NoteText, new { @class = "form-control", style = "height: 20em" })
                @Html.ValidationMessageFor(model => model.NoteText, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr/>

        <div class="form-group row">
            @Html.LabelFor(m => m.CreateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(m => m.CreateTime)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(m => m.LastUpdateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(m => m.LastUpdateTime)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(m => m.Version, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(m => m.Version)
            </div>
        </div>
    
        <div class="form-group row my-2">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnUpdate" type="submit" value="Update" class="btn btn-outline-primary" />
                &nbsp;
                <input type="submit" id="btnDelete" class="btn btn-warning" value="Delete" />
            </div>
        </div>
    }
}
