@model AspNetPim.Models.SearchViewModel

@using (Html.BeginForm("Search", "Search", FormMethod.Get, new {id = "mainForm", @class = "form-horizontal"}))
{
    <div class="input-group col-md-offset-1 col-md-10">
        @Html.TextBoxFor(m => m.Query, new {id = "tbQuery", @class = "form-control"})
        <div class="input-group-btn">
            <button type="submit" class="btn">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Period", new {@class = "col-md-1 control-label"})
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.PeriodStart, new {@class = "form-control", type = "date"})
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(m => m.PeriodEnd, new { @class = "form-control", type = "date" })
        </div>
        <div class="col-md-7 form-control-static">
            @Html.ValidationMessageFor(m => m.PeriodEnd)
        </div>
    </div>

    <br/>

    if (Model.SearchResultPage?.Count > 0)
    {
        <div id="divNoteList" class="">
            @Html.Partial("NoteList", Model.SearchResultPage)

            @if (Model.TotalPageCount > 1)
            {
                for (var i = 1; i <= Model.TotalPageCount; ++i)
                {
                    if (i == Model.PageNumber)
                    {
                        @: @i
                    }
                    else
                    {
                        @Html.ActionLink(i.ToString(), "Search", new {PageNumber = i, Query = Model.Query})
                    }
                    @:&nbsp;
                }
            }
        </div>
    }
    else
    {
        @: No results to display
    }
}